@import "/sass/abstracts/colors";
@import "/sass/abstracts/variables";

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: $HEADER_HEIGHT;
    background-color: $GREY_292C33;
    box-shadow: 0px 0px 8px $GREY_292C33;

    .container {
        height: 100%;
    }

    &__logo {
        color: $WHITE;
        font-size: 24px;
        font-weight: 700;
        flex: 1;
    }

    &__profile-button {
        border: 0px;
        background-color: $GREEN_62C555;
        font-size: 16px;
        color: $GREY_292C33;
        padding: 8px 14px;
        border-radius: 20px;
        margin-left: 10px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $GREEN_45853C;
        }
    }

    &__game-button {
        border: 0px;
        background-color: $RED_EC675C;
        font-size: 16px;
        color: $GREY_292C33;
        padding: 8px 14px;
        border-radius: 20px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
            background-color: $RED_A94C43;
        }
    }
}