@import "/sass/abstracts/colors";

.paper {
    background-color: rgb(254, 250, 244);
    padding: 20px;
    box-shadow: 0px 3px 8px 3px $SHADOW_GREY;
}

.turn {
    text-align: center;
}

.score-table {
    // background-color: $WHITE;
    font-size: 14px;
    margin-top: 12px;
}